<div class="p-5 mb-4 rounded-3 text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold home-title">Bienvenido a StylePixel</h1>
        <p class="col-md-8 fs-4 text-center mx-auto" class="btn btn-terciary btn-lg">Tu tienda en línea de confianza para las mejores ofertas en moda.</p>
        <a href="/products" class="btn btn-primary btn-lg">Ver Productos</a>
    </div>
</div>

 